@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/titillium-web-v10-latin-ext_latin-600.eot');
  src: local('☺'),
  url('../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.woff') format('woff'),
  url('../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.ttf') format('truetype'),
  url('../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.svg') format('svg');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-regular.eot');
  src: local('☺'),
  url('../fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-regular.woff') format('woff'),
  url('../fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-regular.ttf') format('truetype'),
  url('../fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-regular.svg') format('svg');
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/lora-v20-latin-ext_latin-regular.eot');
  src: local('☺'),
  url('../fonts/Lora/lora-v20-latin-ext_latin-regular.woff') format('woff'),
  url('../fonts/Lora/lora-v20-latin-ext_latin-regular.ttf') format('truetype'),
  url('../fonts/Lora/lora-v20-latin-ext_latin-regular.svg') format('svg');
}

body {
  font-family: 'Titillium Web', 'Roboto Mono', 'Lora' Helvetica, sans-serif !Important;
}

:focus {
  outline: 2px solid #ad2929 !important;
}

.CatalogPageWrapper {
  display: flex;
  flex-direction: column;
}

.CatalogPageContent {
  flex: 1 0 auto;
  background: #fff;
  min-height: calc(83vh - 70px);
}

.CatalogPageFooterWrapper {
  flex-shrink: 0;
}

.CatalogPageHeader {
  background: #fff;
  padding: 1rem 13.7%;
  color: #fff;
  border-bottom: 1px solid #8b0000;
  margin-bottom: 15px;
}

.CatalogPageHeader-logo img {
  height: 50px;
}

.CatalogPageHeader-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.CatalogPageHeader-header-content {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.CatalogPageHeader-header-content h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  margin: 3rem 0 1rem;
}

.CatalogPageHeader-header a.CatalogPageHeader-logo {
  font-size: 25px;
  font-weight: bold;
}

.CatalogPageHeader-header a:hover {
  background-color: #ddd;
  color: black;
}

.CatalogPageHeader-header a.active {
  background-color: dodgerblue;
  color: white;
}

.CatalogPageHeader-header-right {
  float: right;
}

.CatalogPageHeader .bx--col-lg-16 {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 500px) {
  .CatalogPageHeader-header a {
    float: none;
    display: block;
    text-align: left;
  }

  .CatalogPageHeader-header-right {
    float: none;
  }
}

.CatalogPageFooter {
  display: block;
  background: #002f87;
  padding: 3rem 15.8% 4rem;
  color: #fff;
}

.CatalogPageFooter-copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.CatalogPageHeader.bx--row,
.CatalogPageFooter.bx--row,
.CatalogPageContent.bx--row {
  margin: 0 0 0 0;
}

.CatalogPageContent .bx--col-lg-16 {
  width: 100%;
  padding-right: 0rem;
  padding-left: 0rem;
}

.CatalogPageMustheadContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1040px) {
  .CatalogPageHeader {
    padding: 2rem 1% 0;
  }
}

.CatalogPageLogo img {
  width: 100%;
}

x-eh-login {
  color: #161616;
}

.log-button {
  color: #0054a5;
}

.entando-internal-banner {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

@media only screen and (min-width: 1024px) {
  section.entando-internal-banner.dark .wrapper-internal .writing-box h1 p {
    font-size: 44px !important;
    text-align: left;
    margin-bottom: 15px;
    color: #f8c300;
  }
  section.entando-internal-banner.dark
  .wrapper-internal
  .writing-box
  .subtitleH1
  p {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto-Regular, sans-serif;
    width: 55%;
  }
  section.entando-internal-banner.dark .wrapper-internal {
    padding: 3rem 13.7%;
  }
}

@media screen and (min-width: 1800px) {
  .entando-container {
    max-width: 1440px;
    position: relative;
  }
}

.writing-box {
  position: relative;
  height: auto;
}

.link-bar {
  position: relative;
}

.entando-internal-banner h1,
.entando-internal-banner p {
  color: white;
  padding: 1;
}

.log-out {
  color: #1d56a4 !important;
}

.entando-eh-login button {
  color: #000000 !important;
}

.bx--breadcrumb-item .bx--link:visited {
  color: #ad2929;
}

.bx--breadcrumb-item .bx--link:visited:hover {
  color: #c92121;
}

.bx--data-table th {
  background-color: #ad2929;
  color: #ffffff;
}

a {
  color: #ad2929;
}

.CatalogTile-card-status {
  color: #ad2929;
}

.bx--btn--primary {
  background-color: #ad2929;
}

.bx--btn--primary:hover {
  background-color: #c92121;
}

.bx--checkbox-label[data-contained-checkbox-state=mixed]:before, .bx--checkbox-label[data-contained-checkbox-state=true]:before, .bx--checkbox:checked+.bx--checkbox-label:before, .bx--checkbox:indeterminate+.bx--checkbox-label:before {
  background-color: #ad2929;
  border-color: #ad2929;
}

.entando-eh-login a {
  color: #b81921;
}
.fas.fa-cog {
  color: #b81921;
}

.bx--pagination .bx--select__item-count .bx--select-input {
  border-right: 0.0625rem solid #f1c21b;
}

.bx--pagination .bx--select__page-number .bx--select-input {
  border-left: 1px solid #f1c21b;
}

.bx--btn--ghost.bx--btn--icon-only[disabled] .bx--btn__icon path:not([data-icon-path]):not([fill=none]), .bx--btn.bx--btn--icon-only.bx--btn--ghost[disabled]:hover .bx--btn__icon {
  fill: #f1c21b;
}

.bx--btn--ghost.bx--pagination__button, .bx--pagination__button {

  border-left: 1px solid #f1c21b;
}

.bx--pagination .bx--select-input:hover {
  background: #f2e9cc;
}
.bx--btn--ghost:disabled:hover.bx--pagination__button, .bx--btn--ghost:hover.bx--pagination__button--no-index, .bx--pagination__button--no-index:hover, .bx--pagination__button:disabled:hover {
  background: #f2e9cc;
}

.OrganizationManagmentPage-section .bx--data-table tbody tr:hover td, .OrganizationManagmentPage-section .bx--data-table tbody tr:hover th {
  background: #f2e9cc;
  border-bottom: 1px solid #f2e9cc;
  border-top: 1px solid #f2e9cc;
}